doctype html
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href='/stylesheets/w3.css')
    link(rel='icon', href='/images/jcr-favicon.png')
    script(src="/javascripts/jquery-3.6.4.min.js")
    link(rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css")
    script(src="/javascripts/jquery.dataTables.min.js")
    link(rel="stylesheet" href="/stylesheets/select2.min.css")
    script(src="/javascripts/select2.min.js")
  body
    block content
